body {
  background-image: url("microphone.png");
  background-position: bottom 20px left 20px;
  background-repeat: no-repeat;
  background-size: 18%;
  background-attachment: fixed;
  background-color: ddd;
}

ul {
  margin: 10 0;
}

.red , .gray {
  font-size: 0.8em;
  padding: 0 15px;
  margin: 0;
}

.red {
  color: red;
  opacity: 0.8;
}

.gray {
  color: black;
  opacity: 0.7;
}

.gdriveVideo {
  width:730; 
  height:420; 
}

.youtubeVideo {
  width:730; 
  height:300; 
}
  
.youtubeAudio {
  width:730; 
  height:70; 
}

@media (max-width: 600px) {
  .resumeWrapper {
    width:400px; 
    margin: 40px auto 200 auto;
  }
}

@media (min-width: 601px) {
  .resumeWrapper {
    width:800px; 
    margin: 40px auto 200 auto;
  }
}
