body {
  background-image: url("microphone.jpg");
  background-position: bottom 10px left 10px;
  background-repeat: no-repeat;
  background-size: 30%;
  background-color: #cccccc;
  background-attachment: fixed;
}

.red {
  color: red;
}
